In [9]:
#break and continue
for i in range(1,5):
  print(i)

print("outside")

1
2
3
4
outside

In [10]:
#break
for i in range(1,5):
  print(i)
  break

print("outside")

1
outside

In [11]:
for i in range(1,5):
  if(i==3):
    break
  print(i)

print("outside")

1
2
outside

In [19]:
z=0
for i in range(1,5):
  if(i==8):
    z=1
    break

if(z==0):
  print("without break")
else:
  print("with break")

without break

In [26]:
# prime number
num=7
a=0
for x in range(2,num):
    if(num%x==0):
        a=1
        break

if(a==1):
    print("not a prime")
else:
    print("prime number",num)

prime number 7

In [28]:
# continue
for i in range(1,5):
  if(i==3):
    continue
    print("ok")
  print("value is",i)

value is 1
value is 2
value is 4

In [29]:
# while loop
# while loop=>based on certain condition
num=5
for i in range(1,num):
  print(i,num)
  num-=1

1 5
2 4
3 3
4 2

In [31]:
n=5
while(n>2):
  print("hey",n)
  n=n-1

hey 5
hey 4
hey 3

In [36]:
n=8
while(n<15):
  print("hey",n)
  n=n+1

hey 8
hey 9
hey 10
hey 11
hey 12
hey 13
hey 14

In [49]:
n=10
while(n==10):
    if(n%2==0):
        print(n, "is Even")
    else:
        print(n, "is Odd")
    n=n+1

10 is Even

In [50]:
#2nd
n=10
while(n>0):
  if(n%2==0):
    print(n,"is even")
    break
  else:
    print(n,"is odd")
    break

10 is even

In [54]:
n=10
while(n<=20):
    if(n%2==0):
        print("Even",n)
    else:
        print("Odd",n)
    n+=1

Even 10
Odd 11
Even 12
Odd 13
Even 14
Odd 15
Even 16
Odd 17
Even 18
Odd 19
Even 20