In [ ]:
# 1. Print all natural numbers from 1 to n using while loop
n = int(input("Enter a number: "))
i = 1

while(i <= n):
    print(i)
    i += 1

Enter a number: 4
1
2
3
4

In [ ]:
# 2. Print all natural numbers in reverse (n to 1) using while loop
n = int(input("Enter a number: "))
i = n

while(i >= 1):
    print(i)
    i -= 1

Enter a number: 4
4
3
2
1

In [ ]:
# 3. Print all alphabets from a to z using while loop
ch = ord('a')
while (ch <= ord('z')):
    print(chr(ch))
    ch += 1

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [ ]:
# 4. Print all even numbers between 1 to 100 using while loop
i = 2
while (i <= 100):
    print(i)
    i += 2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
# 5. Find the sum of all odd numbers between 1 to n
n = int(input("Enter a number: "))
x=0
i = 1

while (i <= n):
    if (i % 2 != 0):
        x += i
    i += 1

print("Sum of all odd numbers:", x)

Enter a number: 4
Sum of all odd numbers: 4

In [ ]:
# 6. Count the number of digits in a number
n = int(input("Enter a number: "))
count = 0

while (n > 0):
    count += 1
    n //= 10

print("Number of digits:", count)

Enter a number: 45
Number of digits: 2

In [ ]:
# 7. Calculate the sum of digits of a number
n = int(input("Enter a number: "))
sum = 0

while (n > 0):
    digit = n % 10
    sum += digit
    n //= 10

print("Sum of digits:", sum)

Enter a number: 345
Sum of digits: 12

In [ ]:
# 8. Find the first and last digit of a number
n = int(input("Enter a number: "))
x=n%10
y=n
while(y>=10):
  y//=10
print("First digit:", y)
print("Last digit:", x)

Enter a number: 23
First digit: 2
Last digit: 3

In [ ]:
# 9. Find the sum of the first and last digit of a number
n = int(input("Enter a number: "))
x=n%10
y=n
while(y>=10):
  y//=10
sum=x+y
print("Sum of first and last digit:", sum)

Enter a number: 234
Sum of first and last digit: 6

In [ ]:
# 10. Print the reverse of a number
n = int(input("Enter a number: "))
rev = 0

while (n > 0):
    digit = n % 10
    rev = rev * 10 + digit
    n //= 10
print("reverse number:", rev)

Enter a number: 245
reverse number: 542

In [ ]:
# 11. Find the power of a number using for loop

In [ ]:
# 12. Find all factors of a number
num = int(input("Enter a number: "))
i = 1
while(i<=num):
    if(num%i==0):
        print(i, end=" ")
    i += 1

Enter a number: 456
1 2 3 4 6 8 12 19 24 38 57 76 114 152 228 456

In [ ]:
# 13. Calculate the factorial of a number

In [ ]:
# 14. Find LCM of two numbers

In [20]:
# 15. Check whether a number is Prime or not using while loop
num=7
a=0
for x in range(2,num):
    if(num%x==0):
        a=1
        break

if(a==1):
    print("not a prime")
else:
    print("prime number",num)

prime number 7